#cuadriculaBingo .extraida {
    /* Estilos que ya tenías para la bola extraída, ¡ahora se ven mucho mejor! */
    background-color: #91908d; /* Fondo amarillo */
    color: #333;
    font-weight: bold;
}


#cuadriculaBingo {
    /* Mantén el Flexbox y el wrap */
    display: flex;
    flex-wrap: wrap; 
    
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #333;
    border-radius: 5px;
    padding: 10px;
}

#cuadriculaBingo span { 
    width: 9%; 
    padding-bottom: 9%; 
    height: 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 50px;
    margin: 5px 0.25%; 
    height: 0;
    position: relative; 
    border-radius: 50%;
    border: 1.7px solid #000000;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
}

.controles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px; 
}

h1 {
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 5em; 
    font-weight: 700;

    
   
    color: #333; 
    background-color: #f8f8f8; 
    
   
    text-align: center; 
    margin-top: 5px;  
    border-bottom: 4px solid firebrick;
    text-transform: uppercase;
}

p {
    font-family: Arial, sans-serif; 
    font-size: 2.5em; 
    font-weight: 700; 
    text-align: center; 
      
}

.velocidad-control {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente (etiqueta y slider) */
    margin-bottom: 15px;
    gap: 15px; /* Espacio entre los elementos */
}